langchain==1.2.13
langgraph==1.1.3
langchain-groq==1.1.2
langchain-community==0.4.1
fastapi==0.135.2
uvicorn==0.42.0
pydantic==2.12.5
pandas==3.0.1
python-dotenv==1.2.2
requests==2.33.0
wbgapi==1.0.14
streamlit==1.55.0